<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <!-- Access the flash message and display it in case there's one -->
        <% if (errorMsg) { %>
        <div class="user-message user-message--error"><%= errorMsg %></div>
        <% } %>

        <div class="centered">
            <h1>Welcome to this online shop app!</h1>
            <p>Use test account below to experience the app's full functionalities or <a href="/signup">sign up for your own user account.</a> </p>
        </div>
        <div style="margin: 0 auto; width: 400px; background-color: rgb(213, 233, 233); padding: 10px">
            <ul style="margin: 0 auto; width: 250px;">
                <li>Username: <strong>test@test.com</strong></li>
                <li>Password: <strong>tester</strong></li>
            </ul>
        </div>

        <form class="login-form" action="/login" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                type="email" 
                name="email" 
                id="email"
                value="<%= oldUserInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                type="password" 
                name="password" 
                id="password"
                value="<%= oldUserInput.password %>">
            </div>
            <!-- name must be "_csrf" because csurf is looking for this value for handling token -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
            <div class="centered">
                <a href="/password-reset-email">Reset Password</a>
            </div>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>